.page-header {
  color: #fff200;
  text-align: center;
  background-color: #2f2f2f;
}
.project-name {
  letter-spacing: 1em;
}

.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: #2f2f2f;
  background-color: transparent;
  border-color: #2f2f2f;
  border-style: solid;
  border-width: 1px;
  border-radius: 0em;
  border-radius: 2em;
}
.btn + .btn {
  margin-left: 1rem; }

.btn:hover {
  color: #2f2f2f;
  background-color: transparent;
  border-color: #2f2f2f;
  font-weight: bold;
  text-decoration: none;
}
